body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

p {
    text-align: center;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    background: #0077cc;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
}
